version: '3'

services:
  backend:
    image: backend:latest
    build:
      context: ./backend
    ports:
      - "8000:8000"

  frontend:
    image: frontend:latest
    build:
      context: ./frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
